.photo{
    mask-image: linear-gradient(
        black 80%,
        transparent 100%
    );
    user-select: none;
    pointer-events: none;
}

.error{
    user-select: none;
    pointer-events: none;
}